@media (max-width: 1200px)
    
    .menu
        gap: 20px

        &__line
            width: 120px
        &__price
            font-size: 26px

    .blog 
        &__new
            width: 520px

    .button
        &--position 
            right: 111px
            top: 126px
        &--footer
            width: 180px

    .services 
            flex-direction: column


    .footer
        padding: 100px 35px 40px 35px
    .form__input--footer 
        width: 330px

@media (max-width: 1024px)



    .form__input--footer 
        width: 350px