@media (max-width: 576px)

    .welcome
        height: 400px

    .welcome__picture
        display: none

    .welcome__text 
        width: 100%
        padding-top: 0

    .contact 
        flex-direction: column
        align-items: center
        height: 100%
    
    .story
        flex-direction: column
        height: 100%
    
    .menu
        flex-direction: column
        height: 100%