@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,400&display=swap');

/* font-family: 'Cormorant Infant', serif;
font-family: 'Josefin Sans', sans-serif; */

body {
    font-family: 'Josefin Sans', sans-serif; ;
    font-weight: 400;
    font-size: 20px;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #292E36;
    font-size: 22px;
    height: 369px;
}


.header__contact {
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 255px;
    height: 73px;
    border: 2px solid #E1B168;
    color: #E1B168;
}

.button--phone {
    color: #fff;
}

.button--color {
    width: 295px;
    background-color: #E1B168;
    color: #fff;
}

hr {
    border: 1px solid #5C6168;

}

.header__link {
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
}

.header__nav ul {
    color: #FFFFFF;
    display: flex;
    gap: 50px;
}

.header__nav li:first-child {
    color: #E1B168;
}

.socials {
    display: flex;
    gap: 20px;
}

.welcome {
    display: flex;
    background-color: #292E36;
    height: 810px;
}

.welcome__text {
    padding-left: 35px;
    width: 720px;
    padding-top: 220px;
}

.welcome__title {
    font-family: 'Cormorant Infant', serif;
    font-size: 100px;
    color: #fff;
}

.welcome__descr {
    color: #fff;
    width: 616px;
    padding: 26px 0 35px 0;
    line-height: 30px;
}

.welcome__picture {
    width: 720px;
    position: relative;
}

.welcome__image {

    margin-top: 69px;
    margin-left: 63px;
    
}

.welcome__image::before {
    width: 30px;
    height: 770px;
    background-color: #FFFFFF;

}

.welcome__settings {
    position: absolute;
    top: 20px;
    right: 0;
}

.contact {
    background-color: #FFF8F5;
    padding-left: 40px;
    padding-right: 132px;
    height: 243px;
    display: flex;
    justify-content: space-between;

}

.contact__section {
    display: flex;
    padding-top: 100px;
    
}

.contact__text {
    padding-left: 20px;
}

.contact__title {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    padding-bottom: 5px;

}

.story {
    display: flex;
    height: 728px;
    padding: 60px 40px 100px 40px ;
    background-color: #FFF8F5;
}

.story__image {
    min-width: 743px;
}

.story__text {
    padding-left: 45px;
}

.story__column {
    display: flex;
    justify-content: space-between;
}

.story__column .story__desc {
    padding-right: 14px;
}

.story__desc {
    padding-right: 13px;
    padding-top: 20px;
}

.story__title {
    font-family: 'Cormorant Infant';
    font-size: 40px;
}

.story__more {
    line-height: 30px;
    padding-top: 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 120px 40px 140px 40px;
}

.menu__specialdish {
    width: 491.25px;
    height: 955px;
}

.section {
    font-size: 15px;
    text-transform: uppercase;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    padding-top: 4px;
    display: inline-block;
}

.title {
    font-family: 'Cormorant Infant';
    font-size: 40px;
    padding-top: 12px;
}

.desc {
    padding-top: 13px;
    line-height: 30px;
}

.menu__image {
    padding-top: 30px;
    padding-bottom: 60px;
}

.menu__list {
    width: 818.75px;
}

.menu__dish {
    font-family: 'Cormorant Infant';
    font-size: 36px;
    padding-bottom: 40px;
}

.menu__position {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.menu__text {
    padding: 5px 0 5px 20px;

}

.menu__wrapper {
    display: flex;
}


.menu__name {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    line-height: 40px;
}

.menu__description {
    line-height: 30px;
}

.menu__price {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    display: flex;
    align-items: center; 
}


.menu__line {

    border-bottom: 2px solid #AAAAAA;
    width: 259.73px;
    margin-bottom: 15px;
}

.testimonial {
    background-color: #292E36;

}

.testimonial__wrapper {
    padding: 145px 40px 120px 40px;
}

.section--white, .title--white, .desc--white {
    color:#fff
}

.testimonial__clients{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.testimonial__client {
    padding: 0 40px;
    width: 544px;
}

.testimonial_content {
    display: flex;
}

.testimonial__client {
    background-color: #343942;
}

.testimonial__data {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial__name {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    line-height: 42px;
    color: white;
}

.testimonial__city {
    color: #E1B168;
    line-height: 30px;

}

.testimonial__text {
    font-family: 'Cormorant Infant';
    font-size: 24px;
    color: #FFFFFF;
}

.testimonial__line {

    border-bottom: 2px solid #AAAAAA;
    width: 464px;
    margin-top: 30px;
    margin-bottom: 32px;

}

.testimonial__logo {
    position: absolute;
    z-index: +1;
}

.testimonial__photo {
    position: relative;
}

.offers {
    padding: 145px 40px 120px 40px;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.desc--center {
    text-align: center;
}

.offers__dishes { 
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.offers__dish {
    background-image: url('img/back1.png');   
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 665px;
    height: 409px;
}

.offers__cloud {
    width: 167px;
    height: 104px;
    position: relative;
}

.offers__cloud img{
    position: absolute;
    top: 3px;
    left: 10px;

}


.offers__cloud h2 {
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: -2px;
    left: 54px;
}

.offers__price {
    font-family: 'Cormorant Infant';
    font-size: 60px;
    position: absolute;
    top: 7px;
    left: 37px;
}

.section--black{
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.offers__description {
    margin-top: 37px;
}

.offers__name {
    margin-top: 8px;
    font-family: 'Cormorant Infant';
    font-size: 40px;
}

.offers__consist {
    margin-top: 5px;
    line-height: 30px;
}

.offers__image {
    display: flex;
    align-items: center;
    width: 100%;
}

.white {
    color: white;
}

.grey {
    background-image: url('img/back2.png'); 
}

.popular {
    padding: 145px 40px 120px 40px;
}

.popular__dishes {
    margin-top: 30px;
    margin-bottom: 45px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.popular__dish {
    width: 318px;
}

.popular__title {
    display: flex;
    justify-content: space-between;
    font-family: 'Cormorant Infant';
    font-size: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 15px;
}

.popular__title:hover {
    font-weight: 700;
}

.button--center {
    display: block;
    margin: 20px auto;
}

.services {
    background-color: #292E36;
    padding: 140px 40px;
    display: flex;
    gap: 90px;
}

.services__box {
    display: flex;
    gap: 30px;
}

.service__item {
    width: 254px;
    height: 235px;
    border: 20px solid #343942;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.service__item h2 {
    margin-top: 15px;
    color: #fff;
}

.blog {
    padding: 140px 40px 100px 40px;
}

.blog__news {
    display: flex;
    justify-content: space-between;
}


.blog__new {
    margin-top: 20px;
    width: 640px;
}

.blog__text {
    padding: 50px 46px 38px 46px;
    border: 1px solid #C4C4C4;
}

.blog__title {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    margin-top: 26px;
    margin-bottom: 24px;
}

.dark {
    filter: brightness(40%);
}

.blog--center {
    position: relative;
}

.button--position {
    position: absolute;
    right: 171px;
    top: 156px;
    z-index: +1;
}

.reservation {
    background-image: url('img/rest5.jpg');
    height: 977px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation__form {
    padding: 140px 140px 156px 140px;
    width: 920px;
    height: 697px;
    background-color: #292E36;
    opacity: 0.95;
}

.form {

    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0;
}


.form__row {
    display: flex;
    justify-content: space-between;
}

.form__input {
    height: 70px;
    width: 307px;
    padding: 0 20px;
    background: rgba( 0,0,0,.0);
    border: 2px solid #858585;
    outline: none;
}

.form__input:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.form__input2 {
    height: 70px;
    width: 198px;
    padding: 0 23px;
    background: rgba( 0,0,0,.0);
    border: 2px solid #858585;
    outline: none;
}

.reservation__button {
    display: flex;
    justify-content: center;
}


.button--white {
    width: 242px;
    background-color: #fff;
    color: #000000;
    border: none;
}

.footer {
    background-color: #292E36;
    padding: 100px 40px 40px 81px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "hashtag logo socials"
                         "contact form schedule";
}

.footer__hashtag {
    grid-area: hashtag;
    display: flex;
    align-items: end;
    padding-bottom: 56px;
}

.footer__logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
}

.socials--footer {
    grid-area: socials;
    display: flex;
    align-items: end;
    padding-bottom: 56px;
    justify-content: end;
}

.footer__contacts{
    grid-area: contact;
    padding-top: 61px;
}

.form__footer {
    grid-area: form;
    padding-top: 11px;
}

.footer__schedule {
    grid-area: schedule;
    padding-top: 61px;
}

.form__row--footer {
    display: flex;
}

.form__input--footer {

    height: 68px;
    width: 456px;
    border-right: none;
}

.button--footer {
    width: 208px;
    height: 68px;
}