@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,400&display=swap');

/* font-family: 'Cormorant Infant', serif;
font-family: 'Josefin Sans', sans-serif; */

body {
    font-family: 'Josefin Sans', sans-serif; ;
    font-weight: 400;
    font-size: 20px;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #292E36;
    font-size: 22px;
    height: 369px;
}


.header__contact {
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 255px;
    height: 73px;
    border: 2px solid #E1B168;
    color: #E1B168;
}

.button--phone {
    color: #fff;
}

.button--color {
    width: 295px;
    background-color: #E1B168;
    color: #fff;
}

hr {
    border: 1px solid #5C6168;

}

.header__link {
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
}

.header__nav ul {
    color: #FFFFFF;
    display: flex;
    gap: 50px;
}

.header__nav li:first-child {
    color: #E1B168;
}

.socials {
    display: flex;
    gap: 20px;
}

.welcome {
    display: flex;
    background-color: #292E36;
    height: 810px;
}

.welcome__text {
    padding-left: 35px;
    width: 720px;
    padding-top: 220px;
}

.welcome__title {
    font-family: 'Cormorant Infant', serif;
    font-size: 100px;
    color: #fff;
}

.welcome__descr {
    color: #fff;
    width: 616px;
    padding: 26px 0 35px 0;
    line-height: 30px;
}

.welcome__picture {
    width: 720px;
    position: relative;
}

.welcome__image {

    margin-top: 69px;
    margin-left: 63px;
    
}

.welcome__image::before {
    width: 30px;
    height: 770px;
    background-color: #FFFFFF;

}

.welcome__settings {
    position: absolute;
    top: 20px;
    right: 0;
}

.contact {
    background-color: #FFF8F5;
    padding-left: 40px;
    padding-right: 132px;
    height: 243px;
    display: flex;
    justify-content: space-between;

}

.contact__section {
    display: flex;
    padding-top: 100px;
    
}

.contact__text {
    padding-left: 20px;
}

.contact__title {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    padding-bottom: 5px;

}

.story {
    display: flex;
    height: 728px;
    padding: 60px 40px 100px 40px ;
    background-color: #FFF8F5;
}

.story__image {
    min-width: 743px;
}

.story__text {
    padding-left: 45px;
}

.story__column {
    display: flex;
    justify-content: space-between;
}

.story__column .story__desc {
    padding-right: 14px;
}

.story__desc {
    padding-right: 13px;
    padding-top: 20px;
}

.story__title {
    font-family: 'Cormorant Infant';
    font-size: 40px;
}

.story__more {
    line-height: 30px;
    padding-top: 15px;
}

.menu {
    display: flex;
    padding: 120px 40px 140px 40px;
}

.menu__specialdish {
    width: 491.25px;
    height: 955px;
}

.menu__section {
    font-size: 15px;
    text-transform: uppercase;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    padding-top: 4px;
    display: inline-block;
}

.menu__title {
    font-family: 'Cormorant Infant';
    font-size: 40px;
    padding-top: 12px;
}

.menu__desc {
    padding-top: 13px;
    width: 486px;
    line-height: 30px;
}

.menu__image {
    padding-top: 30px;
    padding-bottom: 60px;
}

.menu__list {
    width: 818.75px;
}

.menu__dish {
    font-family: 'Cormorant Infant';
    font-size: 36px;
    padding-bottom: 40px;
}

.menu__position {
    display: flex;
    padding-bottom: 50px;
}

.menu__logo {
    width: 100px;
}

.menu__name {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    line-height: 40px;
}

.menu__price {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    line-height: 40px;
    position: relative;
}

.menu__description {
    
    
}

.menu__price::before {
    position:absolute;
    content: " ";
    height: 2px;
    border-bottom: 1px solid #AAAAAA;
    width: 259.73px;
    bottom: 0;
}

